* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

hr {
    width: 80px;
}

body {
    overflow-x: hidden;
}


/*Text*/

.text-base {
    font-size: 14px;
}

.title-small {
    font-size: 20px;
    font-weight: bold;
}

.title-medium {
    font-size: 30px;
    font-weight: bold;
}


/*Bottoni*/

.button {
    padding: 0.5em 1.5em;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.button.blue {
    background-color: #0061ff;
    color: white;
}

main .button.blue {
    margin-bottom: 20px;
    width: 200px;
}

.button.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.button.white:hover {
    background-color: #e5e5e5;
}

.button.blue:hover {
    background-color: #003fa5;
}


/*Section width*/

.large {
    width: 1000px;
    margin: 0 auto;
}

.medium {
    width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}


/*Header*/

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 15px 20px;
    z-index: 999;
    border-bottom: 1px solid #CFCFD2;
    background-color: white;
}

.nav-centrale {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

header img {
    width: 100px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

header li a:hover {
    padding: 20px 5px;
    background-color: #e5e5e5;
}

header .button.blue,
header img {
    margin: 0 15px;
}


/*Main*/

main {
    width: 100vw;
}


/*Section one*/

#jumbo-section {
    padding-top: 60px;
    height: 600px;
}

.blue {
    background-color: #b4d0e7;
}

#jumbo-section .title {
    font-size: 58px;
    padding-bottom: 50px;
    font-weight: 900;
}

#jumbo-section i {
    font-size: 40px;
    margin-top: 50px;
}

.jumbo {
    display: flex;
    justify-content: space-between;
}

.jumbo-img {
    width: 72%;
}

.jumbo-text {
    width: 28%;
}

.jumbo-text i {
    font-size: 30px;
    margin-top: 30px;
}

.jumbo-text p {
    margin-bottom: 25px;
}

.jumbo-text .button {
    margin-bottom: 8px;
}


/*Section Two*/

#plans-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#billings {
    margin-top: 40px;
    margin-bottom: 20px;
}

#billings label {
    display: inline-block;
}

#billings label:nth-child(2) {
    margin-left: 10px;
}

.radio-container {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #CFCFD2;
    border-radius: 50%;
}

.radio-container input:checked~.checkmark {
    background-color: #3A61F8;
    border: 1px solid #3A61F8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    background: white;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 55%;
    height: 55%;
    border-radius: 50%;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

.column-container {
    display: flex;
    justify-content: space-between;
}

.column-content {
    padding: 20px;
    position: relative;
}

.column {
    display: flex;
    flex-direction: row;
    border: 1px solid #CFCFD2;
    margin-bottom: 5%;
}

.column.long {
    width: 30%;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.column-head,
.column-type {
    border-bottom: 1px solid #CFCFD2;
    text-align: center;
    padding: 8px;
    font-size: 13px;
}

.column-price {
    font-weight: bold;
    margin-top: 10px;
    line-height: 20px;
}

.column-price span {
    color: gray;
    font-weight: lighter;
    font-size: 11px;
}

.column-info {
    margin-top: 40px;
}

.column-info i {
    position: absolute;
    left: 20px;
    margin-top: 2px;
}

.column-users,
.column-storage,
.column-functions {
    margin-bottom: 20px;
}

.column-functions {
    margin-bottom: 35px;
}

.column-info hr {
    margin: 30px 0 40px;
    width: 50px;
}

.move-right,
.highlight {
    padding-left: 17px;
}

.highlights-title {
    font-weight: bold;
}

.highlight {
    margin: 20px 0;
}

.highlight i {
    color: #0061ff;
}

.blue-link {
    color: #0061ff;
    text-decoration: underline;
    display: inline-block;
}


/*Section Three*/

#enterprise-section {
    display: flex;
    flex-direction: column;
}

.sub-enterprise-section {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 100px;
}

.column.large {
    width: 100%;
    flex-direction: column;
}

#enterprise-section .container {
    display: flex;
    flex-direction: row;
}

.container-large {
    width: 70%;
    padding: 20px;
}

.container-small {
    width: 30%;
    padding: 20px;
    text-align: right;
}

.container-large-2 {
    width: 60%;
    padding-right: 20px;
}

.container-large-2 img {
    width: 100%;
}

.container-small-2 {
    width: 40%;
    padding: 40px 20px;
}

.container-small-2 p {
    margin: 20px 0;
}


/*Section Four */

#operation-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
}

#operation-section .title-medium {
    margin-bottom: 40px;
}

.box {
    width: calc(100% / 3 - 20px);
    margin-left: 5px;
    margin-bottom: 50px;
}

.box img {
    width: 100%;
}

.box p {
    margin-top: 20px;
}


/*Section Five */

#team-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#team-section .title-medium {
    margin-bottom: 30px;
}

#team-section-1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#team-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}

.sub-team-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.sub-team-section-2-large {
    width: 50%;
}

#team-section-2 .button {
    border: none;
}

#team-section-2 .title-medium {
    margin-bottom: 0;
}

#team-section .title {
    margin-bottom: 15px;
}

#description-container {
    padding: 3%;
    background-color: #F5F5F5;
    overflow: auto;
    display: initial;
}

#description-container img {
    width: 50%;
    margin-bottom: 35px;
}

#description-container p {
    margin: 35px 0;
}

.team-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.team:hover {
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.team img {
    width: 50%;
    filter: invert(1);
}

#team-back-1 {
    background-color: #a2d39b;
}

#team-back-2 {
    background-color: #61082b;
}

#team-back-3 {
    background-color: #0093ce;
}

#team-back-4 {
    background-color: #ff1c1c;
}

#team-back-5 {
    background-color: #d5001f;
}

#team-back-6 {
    background-color: #b4d0e7;
}

#team-back-7 {
    background-color: #0d2481;
}

#team-back-8 {
    background-color: #ffd830;
}

#purple {
    color: #561C2F;
}


/*Section Six */

#question-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

#faq {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

#question-section .title-medium {
    margin-bottom: 40px;
}

.question {
    padding: 25px 0;
    border-bottom: 1px solid #CFCFD2;
    position: relative;
    cursor: pointer;
}

.question:first-of-type {
    border-top: 1px solid #CFCFD2;
}

.question i {
    position: absolute;
    right: 0px;
    top: 30px
}

.question:hover i {
    transition: 1s;
    transform: rotate(180deg);
    transition-delay: 0;
}

.question-title {
    font-weight: bold;
}

.question:hover .answer {
    display: block;
}

.answer {
    display: none;
    margin-top: 20px;
}


/*Footer*/

footer {
    background-color: black;
    color: white;
    width: 100vw;
}

footer .large {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

footer .large:last-of-type {
    padding: 0;
}

.footer-section {
    width: calc(100% / 5);
    margin-right: 20px;
}

.footer-section .title {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section li a:hover {
    color: #b4d0e7;
}

.footer-section a {
    color: white;
}

footer hr {
    margin-left: 200px;
}

footer .language {
    margin: 40px 0;
    color: gray;
}